@import "util/variables.styl"
@import "util/mixins.styl"
@import "util/fonts.styl"
@import "util/custom-ui.styl"

@import "util/base.styl"

/*########### PAGE #############*/
#page
  display: grid
  grid-template-columns: 1fr
  grid-template-rows: minmax($footer-height, auto) 1fr minmax($footer-height, auto)
  grid-row-gap $row-gap
  grid-template-areas " header "\
                      " content "\
                      " footer "
/*########### END ##############*/

/*########### HEADER ###########*/
header
  background $header-bg
  grid-area header
  content-width()
  grid-template-areas " . h-content . "
  & .header-content
    background-size 100% 189px
    grid-area h-content
    // The following CSS rules can be removed
    display flex
    align-items center

    & *
      color white
      font-size: 30px
/*########### END ##############*/

/*########### BODY #############*/
.content-container
  grid-area content
  min-height: 100%
  content-width()
  grid-template-areas " . p-content . "
  & .content
    grid-area p-content
    // The following CSS rules can be removed
    & *
      color #333333
      font-size: 30px
/*########### END ##############*/

/*########### FOOTER ###########*/
footer
  background $footer-bg
  grid-area footer
  content-width()
  grid-template-areas " . f-content . "
  & .footer-content
    grid-area f-content
    // The following CSS rules can be removed
    display flex
    align-items center
    & *
      color white
      font-size: 30px
/*########### END ##############*/

/*########### PAGES ############*/
@import "pages/*.styl"
/*########### END ##############*/