.burger
  width: 30px
  height: 24px
  display: flex
  flex-direction column
  align-items: center
  justify-content space-between
  cursor pointer
  & span
    display: block
    background-color: black
    height: 2px
    width: 100%
    transition: 0.2s
    border-radius 40px

  &[active=no]
    &:hover
      & span
        &:nth-of-type(1)
          width: 15px
        &:nth-of-type(2)
          width: 25px

  &[active=yes]
    & span
      width: 25px
      transform-origin center
      margin-top: 0
      align-self center
      transition: 0.3s ease-out
      &:nth-of-type(1)
        transform rotateZ(26deg)
      &:nth-of-type(2)
        transform rotateZ(-28deg)


.arrow
  position relative
  display: flex
  justify-content center
  width: 37px;
  height: 19px;
  & span
    width: 25px
    height: 2px
    background-color: black
    display: block
    transform-origin center
    position absolute
    top: 17px
    transition all ease-in-out 0.2s
    &:first-child
      transform rotateZ(45deg) translateX(-13px)
    &:last-child
      transform rotateZ(-45deg) translateX(12px) translateY(-1px)

  &[direction=top]
    transform rotate(180deg)
  &[direction=left]
    transform rotate(90deg)
  &[direction=right]
    transform rotate(-90deg)
  &[direction=down]
    transform rotate(0deg)

.float-container
  position: fixed
  width: 100%
  min-height: 100vh
  height: 100%
  z-index 1
  transition $transition
  background-color: #fff
  & .float-block
    display: grid
    grid-template-rows: 100px 1fr
    grid-template-areas " header "\
                        " body "
    height: 100%
    width: 100%
    & .float-header
      grid-area header
      border-bottom 1px solid #e6e6e6
      display: flex
      justify-content center
      align-items: center
      cursor pointer
      transition $transition
      & .arrow
        & span
          background-color: black
          transition $transition
      &:hover
        background-color: black
        & .arrow
          & span
            background-color: white
    & .float-body
      grid-area body

  &[out-from=top]
    left: 0
    right: 0
    &[show=yes]
      top: 0
    &[show=no]
      top: -100%
  &[out-from=down]
    left: 0
    right: 0
    &[show=yes]
      bottom: 0
    &[show=no]
      bottom: -100%
  &[out-from=left]
    top 0
    &[show=yes]
      left: 0
    &[show=no]
      left: -100%
  &[out-from=right]
    top: 0
    &[show=yes]
      right: 0
    &[show=no]
      right: -100%
.heart
  display: inline-block;
  margin: 0 10px;
  position: relative;
  top: 0;
  transform: rotate(-45deg);
  &:before
  &:after
    content: "";
    border-radius: 50%;
    position: absolute;
  &:before
    left: 0;
  &:after
    top: 0;

heart-size($size = 30px)
  height $size
  width: $size
  &:before
  &:after
    height $size
    width: $size
  &:before
    top: "calc(0px - (%s / 2))" % $size
  &:after
    left: "calc(%s / 2)" % $size
heart-color($not-active = gray, $active = red)
  &[active=yes]
    background-color: $active
    &:before
    &:after
      background-color: $active
  &[active=no]
    background-color: $not-active
    &:before
    &:after
      background-color: $not-active
.star
  position relative
  display inline-block
  width: 0
  height: 0
  margin-left: .9em
  margin-right: .9em
  margin-bottom: 1.2em
  border-right:  .3em solid transparent;
  border-bottom: .7em  solid #FC0;
  border-left:   .3em solid transparent;
  &:before,
  &:after
    content: '';
    display: block;
    width: 0;
    height: 0;
    position: absolute;
    top: .6em;
    left: -1em;
    border-right:  1em solid transparent;
    border-bottom: .7em  solid #FC0;
    border-left:   1em solid transparent;
    transform: rotate(-35deg);
  &:after
    transform: rotate(35deg)
star-size($size = 30px)
  font-size $size