$min-content-width = 200px          // Минимальная ширина контента на странице
$max-content-width = 100%           // Максимальная ширина контента на странице
$header-height = 100px              // Высота шапки
$footer-height = 100px              // Высота подвала
$row-gap = 50px                     // Отступ от контента до шапки и подвала
$transition = all ease-in-out 0.6s  // Базовая анимация




