// Scripts start
script(src="js/vendor/modernizr-3.6.0.min.js")
//script(src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous")
//script.
    window.jQuery || document.write('<script src="js/vendor/jquery-3.3.1.min.js"><\/script>')

// Файл с пользовательскими плагинами
if env.GULP_ENV === 'production'
    script(src=`js/${jsManifest['plugins.js']}`)

// JS библиотеки
each script in libs
    if script.include && script.js !== ''
        script(src=`${script.js}`)

// Файл с пользовательскими скриптами
if env.GULP_ENV === 'production'
    script(src=`js/${jsManifest['app.js']}`)
else
    script(src='js/app.js')